<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
        body{
            background-image: url("leaves_plant_green_118405_1920x1080.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            text-align: center;
            font-size: 100px;
            color: white;
        }
    </style>
</head>
<body>
    <!-- <p>Your Score is: </p> -->
    <div>
        <p>Thanks for taking the quiz. Check your email for the results.</p>
        <!-- <%= count %> -->
    </div>
</body>
</html>
