<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style>
        body{
            background-image: url("OperaGarnier_FR-FR3367857617_1920x1080.jpg");
            text-align: center;
        }
        .score-text{
            font-size: 100px;
        }
        .score{
            font-size: 100px;
        }
    </style>
</head>
<body>
    <p class="score-text">Your Score is: </p>
    <div class="score">
        <%= count %>
    </div>
</body>
</html>